<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Contact Page</title>
  </head>
  <body>
    <section id="content">
      <h1>Welcome to contact page</h1>
      <h2>contacts offered by SCM</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        consequuntur vero excepturi, doloribus, minus libero consectetur dolore
        doloremque soluta fugit voluptas. Animi quo voluptas incidunt officia
        quisquam fugit dolor maiores.
      </p>
    </section>
    <script>
      console.log("Contacts page");
    </script>
    <script>
      console.log("2nd Contacts page");
    </script>
  </body>
</html>
